{% extends "baseTemplate.html" %}	

{% block title %}artPortfolio{% endblock %}

{% block content %}

		<div class ="row">
			<div class = "col-12">
				<h2>Art Portfolio</h2>
			</div>
		</div>

		<div class = "row"> 
			<div class = "col-4" id="container">
				3-D Red
				<p><img src= "https://lh3.googleusercontent.com/-aOxWto2sfGU/UF4Vbd3dCEI/AAAAAAAAAEw/9-r0xDPmBOQ/s640/DSCN0291.JPG" alt="" /></p>
			 </div>
<script type="text/javascript">
(function() {

var img = document.getElementById('container').firstChild;
img.onload = function() {
    if(img.height > img.width) {
        img.height = '100%';
        img.width = 'auto';
    }
};

}());
</script> 

			<div class = "col-4" id="container"> Self Portrait <p>
				<img src = "https://lh3.googleusercontent.com/-sYwBiH1GrFo/UF4Vg_-SjRI/AAAAAAAAAE0/A-1jLgRHraQ/s640/DSCN0292.JPG" alt="" /></p>
			</div>
			<div class = "col-4" id="container"> Bones
				<p><img src = "https://lh5.googleusercontent.com/-8qio84MMS80/UF4Ve86zbcI/AAAAAAAAAE4/GNxu99gmU3w/s640/DSCN0295.JPG" alt="" /></p>
			</div>
		</div>

		<div class = "row">
			
			<div class = "col-4" id="container"> Cloth
				<p><img src = "https://lh3.googleusercontent.com/-I12Fwx4sIC4/UF4V3I5sWPI/AAAAAAAAAE8/wkuHGsTKP64/s640/DSCN0298.JPG" alt="" /></p> 
			</div>	
			<div class = "col-4" id="container"> Fruit 
				<p><img src="https://lh3.googleusercontent.com/-x9_vfFWXCJY/UHsebVLMemI/AAAAAAAAAC0/GHkfZhQfHXQ/s720/DSCF1840.JPG" alt="" /></p>
			</div>	
			<div class="col-4" id="container"> Eggs
				<p><img src="https://lh4.googleusercontent.com/-CNjcZFDlAk4/UF4V-mMXsAI/AAAAAAAAAFA/BHfc5f_Z7YQ/s512/DSCN0303.JPG" alt="" /></p>
			</div>	
		</div>

		<div class = "row"> 
			<div class = "col-4" id="container"> Shapes
				<p><img src = "https://lh3.googleusercontent.com/-6BtG91jjKAs/UHseNr95poI/AAAAAAAAACc/MQ7ikXCXvng/s512/DSCF1831.JPG" alt="" /></p> 
			</div>	
			<div class = "col-4" id="container"> Shell
				<p><img src="https://lh4.googleusercontent.com/-et1w2KbFlyw/UHseSjKKiEI/AAAAAAAAACk/rYTk_LKH8iA/s512/DSCF1833.JPG" alt="" /></p>
			</div>	
			<div class="col-4" id="container"> Keys
				<p><img src="https://lh4.googleusercontent.com/-AMOBdiaJ-oM/UHseXGm8X9I/AAAAAAAAACs/ROEWGiR4CwI/s512/DSCF1838.JPG" alt="" /></p>
			</div>	
		</div>


		<div class = "row" id="disclaimer">
			Disclaimer: All work on this website, including the artwork, is created and owned by Nadia Magallon. Please don't redistribute, copy, or use without the owner's permission.
		</div>
	</div>

{% endblock %}