{% extends "baseTemplate.html" %}

{% block title %} index {% endblock %}

{% block content %}

	<div class="grid">


		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 bio">
				Hi! I'm Nadia, a current sophomore who is majoring in Math with Computer Science at MIT. I'm interested in coding, math, finance, economics, and the environment. This summer I am working as a reserach assistant at the MIT Media Lab for the project entitled Glue.
			</div>
			<div class="col-4 end">
				<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/025/0e2/3380f74.jpg">
			</div>
		</div>


{% endblock %}